.App {
  text-align: center;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
  position: absolute;
  top: 25px;
  opacity: 0; /* Hace el logo completamente transparente */
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  /*background-color: #282c34;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url('./ImageBackground.png');/* Asegúrate de usar la ruta correcta */
  background-size: cover; /* Cubre el área del header completamente */
  background-position: center; /* Centra la imagen en el header */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
